@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  text-decoration: none;
  margin: 0;
  border: none;
  outline: none;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100px;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "width" 100px;
}
.open-sans-bold2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100px;
}
header nav {
  display: none;
}
header {
  border: none;
}

header {
  background: linear-gradient(to bottom, #09121f, #0b131f);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none !important;
}
.logo {
  width: 200px;
}

.fa-bars {
  color: #fff;
}

.button {
  background-color: #3a68b8;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  width: 65px;
}

.introductionside {
  padding: 15px;;
  background: linear-gradient(to bottom, #08101e, #09101e, #09111e);
  border: none !important;
}
.introductionside h5 {
  color: #3a68b8;
  font-size: 15px;
}

.introductionside h1 {
  color: #fff;
  font-size: 25px;
  margin: 25px 0;
}

.introductionside p {
  color: #9ea2a7;
  font-size: 10px;
  /* margin-top: 30px; */
}
.buttonside {
  margin-top: 15px;
}
.startbutton {
  background: #3a68b8;
  color: #fff;
  padding: 10 15px;
  border: none;
  margin-right: 10px;

}
.watchbutton {
  background: #3a68b8;
  color: #fff;
  padding: 10 15px;
  border: none;
}

.fa-play{
  margin-right: 5px;
}
.introductionside .rightside .rocket {
  width: 290px;
}

.rightside{
  margin-top: 40px;
}

.companies-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom,#09111E,#09111F);
  border: none !important;
}

.companies-section .company:nth-child(3),
.companies-section .company:nth-child(4){
  display: none;
}

.companies-section .company:nth-child(1),
.companies-section .company:nth-child(2){
width: 135px;
padding-top:15px ;
}

.ai-section{
  padding: 15px;
  background:#020a18 ;
  border: none;
}
.ai-section img{
  width: 300px;
}

.ai-section h1{
  color: #fff;
}
.ai-section article{
  color: #a2a4aa;
  margin: 18px 0;
  font-size: 12px;
}
.ai-section .rightside .btnside .learnmore  {
  
    background-color: #3a68b8;
    padding: 8px;
    border: none;
    color: #fff;
    width: 90px;
  
}
@media(min-width:768px) {
  header nav {
    display: flex;
  }

  .fa-bars {
    display: none;
  }

  header nav a {
    margin-left: 30px;
    color: #fff;
  }

  header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 12, 45);
    border: none !important;
  }

  .button {
    margin-left: 20px;
  }

  .logo {
    margin-left: 25px;
  }

  .introductionside {
    display: flex;
     padding: 37px; 
  }

  .introductionside h5 {
    font-size: 18px;
  }

  .introductionside h1 {
    font-size: 31px;
  }

  .introductionside p {
    font-size: 14px;
  }
  .buttonside{
    margin-top: 30px;
  }
  .startbutton {
    padding: 20px;
  }
  .watchbutton {
    padding: 20px;
  }
  .introductionside .rightside .rocket {
    width: 350px;
  }
  .introductionside .leftside{
    padding-top: 30px;
  }

  .companies-section .company:nth-child(3),
  .companies-section .company:nth-child(4){
    display: flex;
  }

  .companies-section .company:nth-child(1),
.companies-section .company:nth-child(2),
.companies-section .company:nth-child(3),
  .companies-section .company:nth-child(4){
width: 150px;
padding-top:15px ;
}

.ai-section{
display: flex;
align-items: center;
padding: 37px;
}

.ai-section .leftside img{
width: 390px;
margin-left: 20px;
}

.ai-section .rightside{
  padding-left: 30px;
  padding-right: 40px;
}
.ai-section .rightside h1{
  font-size: 17px;
}

.ai-section .rightside article{
  font-size: 11px;
}

.ai-section .rightside .btnside .learnmore{
  background: #3a68b8;
  color: #fff;
   padding: 10px 15px;
  border: none;
  width: 125px; 
  height: 45px;
}

}

@media(min-width:880px) and (max-width:900px){
  .ai-section .rightside h1{
    font-size: 26px;
    }
}
  

@media(min-width: 992px) {
  header nav {
    display: flex;
    margin-left: -250px;
  }

  .logo {
    transform: translateX(130px);
  }

  .button {
    margin-left: 15px;
    transform: translateX(-250px);
  }

  .introductionside {
    padding-left: 160px;
    padding-right: 160px;
  }
  .introductionside h5 {
    font-size: 20px;
  }

  .introductionside h1 {
    font-size: 40px;
  }

  .introductionside p {
    font-size: 15px;
  }
  .introductionside .rightside .rocket {
    width: 400px;
  }

  .introductionside .leftside {
    padding-right: 100px;
  }

.companies-section{
    padding-left: 90px;
    padding-right: 90px;
}

.companies-section{
  padding-left: 130px;
  padding-right: 200px;
 ;
}

.ai-section{
  display: flex;
  align-items: center;
}
.ai-section .leftside img{
  width: 490px;
  margin-left: 50px;
}

.ai-section .rightside{
  padding-left: 80px;
  padding-right: 150px;
}
.ai-section .rightside h1{
   font-size: 35px;
  }

  .ai-section .rightside article{
    margin: 20px 0;
    font-size: 13px;
  }


}
@media(min-width:1200px){
  .introductionside h1{
    font-size: 40px;
  }
  .introductionside .rightside .rocket{
    width: 420px;
  }
.introductionside p{
  font-size: 20px;
}
}

@media(min-width:1300px){
  .introductionside h1{
    font-size: 55px;
  }
  .introductionside .rightside .rocket{
    width: 500px;
  }
  .introductionside p{
    font-size: 18px;
  }
  .companies-section{
    padding-left: 120px;
    padding-right: 200px;
   ;
}

.companies-section .company:nth-child(1),
.companies-section .company:nth-child(2),
.companies-section .company:nth-child(3),
  .companies-section .company:nth-child(4){
width: 200px;
}

.ai-section .leftside img{
  margin-left: 120px;
}
.ai-section .rightside{
  padding-left: 150px;
  padding-right: 240px;
}

.ai-section .rightside h1{
  font-size: 32px;
}

.ai-section .rightside article{
  font-size: 15px;
}

}